/*Properties applicable to whole File */

:root{
    --heading: 'Calibri', Arial, sans-serif; 
    --subheading: 'Calibri', Arial, sans-serif;
}



/* START */

body{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Newsreader", serif;
}

.main{
    display: flex;
    flex-direction: column;
}
header{
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul{
    list-style: none;
    padding: 0;
}

/*END*/





/*Properties for NAV Bar*/

/* START */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.5rem;
    border: 1.2px solid rgba(0, 0, 0, 0.303);
    border-right: none;
    border-radius:  4px;
    transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    background-color: white;

}
nav.scrolled {
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

nav a{
    font-size: 14px;
    font-weight: 500;
    font-family:var(--subheading);
    text-decoration: 0;
    color: black;
    /* border: 2px solid rgba(0, 0, 0, 0.833); */
    padding: 8px;
    border-radius: 10px;
    opacity: 0.85;
    transition: all 150ms ease-in-out;
}
nav.scrolled a{
    color: black;
  }

.dropdown a{
    color: black;
}

nav .logo img{
    margin-left: 4rem;
    height: 3.3rem;
    width: 22rem;
    margin-top: -0.75rem;

}

nav .navopt ul{
    font-size: 14px;
    margin: 0.75rem;
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 1.25rem;
    height: 3rem;
    align-items: center;
    justify-content: flex-end;;
}

nav .navopt a:hover{
    /* background-color: rgb(20, 50, 221); */
    box-shadow: 0 0 3px rgb(0, 0, 0);
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
    opacity: 1;

}


.job-btn {
    font-family:var(--subheading);
    margin: 0 4rem 0 0;
    padding: 8px 12px;
    border-radius: 16px;
    background-color: black;
    color: rgba(255, 255, 255, 0.964);
    cursor:pointer;
    font-weight: 400;
    font-size: 14px;
}

.job-btn:hover{
    transform: scale(1.02);
    background-color: white;
    color: black;
    transition: all 150ms ease-in-out;
}

.drop{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}


.dropdown a{
    line-height: 1rem;
}

.dropdown{
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    display: none;
    background-color: #ffffff;
    width: max-content;
    border-radius: 14px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.232);
    padding: 1rem;
}

i{
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop a:hover i{
    transform: rotate(-90deg);
    transition: all 50ms ease-in-out;
}

.drop:hover .dropdown{

    display: flex;
    flex-direction: column;
    transition: all 150ms ease-in-out;
}

.dropdown a span{
    font-size: 18px;
}

i{
    width: 1rem;
    height: 1rem;
    color: rgba(111, 111, 107, 0.847);
}


/* END */
/*Properties for HOME Page*/

/* START */

.homepage{
    position: relative;
    height: 110vh;
    width: 100%;
    font-family: var(--heading);
    font-size: 42px;
    font-weight: 700;
}
/* .title {
    text-align: justify;
    letter-spacing: 0.06em;
    position: absolute;
    top: 12rem;
    color: #e4e1e1;
    left :3rem;
    opacity: 0;
    animation: popUp 20s infinite; /* Total cycle time for all texts */

/* .title:nth-child(1) { animation-delay: 0s; }
.title:nth-child(2) { animation-delay: 10s; }

@keyframes popUp {
    0% { opacity: 0; }
    6.25% { opacity: 1; } 
    25% { opacity: 1; } 
    39.25% { opacity: 0; } 
    100% { opacity: 0; } 
}

.homepage video{
    width: 100%;
    height: 125vh;
    position:absolute;
    background-position: center;
    top: -10rem;
    left: 0;
}
video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Black shadow with 50% opacity */



/* END */


/*Properties for HOMEintro Page*/

/* START */
.mainintro{

    height:100vh;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;


}


.textintro{
    font-weight: 500;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 6rem;
    font-size: 20px;
    color: black;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.textintro .headingtextintro{
    margin-top: 1rem;
    font-family: var(--heading) ;
    text-align: center;

}
.textintro .descintro{
    font-weight: 400;
    line-height: 1.75rem;
    font-size: 18px;
    opacity: 0.85;
    text-align: justify;
    font-family:var(--subheading)
}

.t1{
    padding-bottom:0.6rem ;
}



/* services - key */



























.implink{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(239, 241, 245, 0.945);
    padding-bottom: 5rem;
}

.implink-heading{
    font-family: var(--heading) ;
    text-align: center;
    margin: 0 0 1rem 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

.implink-images{
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}



.implink-images span{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    width: 100px;
    height: 80px;
    border-radius: 14px;
    gap: 4px;
    box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.444) ;
}

.implink-images a{
    text-decoration: none;
    width: 100px;
    height: 80px;
}

.implink-images h4{
    margin: 0;
    padding: 10px 0 0 0 ;
    width: 105px;
    font-size: 10px;
    font-family: var(--subheading);
    text-align: center;
    color: rgba(0, 0, 0, 0.852);
}


span .dgca{
    width: 90.47px;
    height: 25.21px;
}
span .mca{
    width: 90.06px;
    height: 30.83px;
}

span .bcas{
    width: 87.65px;
    height: 54.54px;
}

span .aai{
    width: 95.37px;
    height: 66px;
}

span .faa{
    width: 61.62px;
    height: 61.62px;
}

span .iata{
    width: 61px;
    height: 61px;
}

span .aci{
    width: 61px;
    height: 71px;
}

span .icao{
    width: 90px;
    height: 75px;    
}



.contactmain{
    width: 100%;
    gap: 1rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;

}

.contactheading{
    width: 90%;
    font-family: var(--heading) ;
    text-align: center;
    margin: 1.2rem 1rem 0 6rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    border-top: 2px solid white;
    padding-top: 1rem;
}


.contactdetails{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin: 1rem 3rem 0 3rem;
    padding-bottom: 1rem;
    border-bottom: 0.75px solid white;
}

.contactinfo{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: flex-start;
}

.contactinfo-heading{
    font-family: var(--heading) ;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

.contactinfo-detail{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    font-family: var(--subheading);
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.04em;
}

.contactinfo-detail a{
    gap: 0.75rem;
    font-family: var(--subheading);
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-decoration: none;
    color: inherit;
}
.contactinfo-detail-phno{
    letter-spacing: 0.25em;
}

.conicon{
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
}

.contactaddress{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: flex-start;
    align-items: center;
}

.contactaddress-heading{
    font-family: var(--heading) ;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

.contactaddress-content{
    width: 48%;
    font-family:var(--subheading);
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align:center;
}

.socials{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
}

.socials-heading{
    font-family: var(--heading) ;
    text-align: center;
    font-size: 1rem;
    gap: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

.socialh{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family:var(--subheading);
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.08em;
}

.socials a{
    text-decoration: none;
    color: white;
}

.socialtag{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.tm{
    font-size: 0.7rem;
    font-weight: 400;
    font-family: var(--subheading);
    display: flex;
    justify-content: center;
    align-items: start;
    height: 2rem;
    width: 100%;
    text-align: center;
}








/* DIALOG STYLES */



